.filter__wrapper {
  display: block;
  h3 {
    color: #ffff;
  }
}

.filter__seasons {
  display: block;
  &__wrapper {
    width: 100%;
    display: inline-block;
  }

  &__button + &__button {
    margin-left: 4%;
  }
  &__button {
    min-width: 86px;
    margin-right: -5px;
    display: inline-block;
    width: 22%;
  }
  &__label {
    color: #000;
    cursor: pointer;
    padding: 12px;
    white-space: nowrap;
    display: block;
    background: #FFFFFF;
    border-radius: 5px;
    font-size: 14px;
    user-select: none;
    opacity: 0.7;
  }
  &__input{
    display: none;
  }
  &__input:checked ~ &__label {
    opacity: 1;
  }
}

.filter__status__wrapper {
  display: inline-block;
  vertical-align: top;
  margin-right: -5px;
  width: 50%;
}

.filter__select {
  display: flex;
  position: relative;
  &:after {
    content: "";
    display: block;
    width: 7px;
    height: 7px;
    position: absolute;
    top: 12px;
    right: 14px;
    border-right: 2px solid #c3bebe;
    border-bottom: 2px solid #c3bebe;
    transform: rotate(45deg);
  }
  &__input {
    display: none;
  }
  &__value {
    box-sizing: border-box;
    cursor: pointer;
    width: 100%;
    background: #FFFFFF;
    color: black;
    border: none;
    outline: none;
    height: 40px;
    border-radius: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 12px 28px 12px 20px;
  }
  &__dropdown{
    border-top: 2px solid #eee;
    z-index: 100;
    width: 100%;
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    left: 0;
    top: 40px;
    box-shadow: 3px 14px 10px 5px rgba(0,0,0,0.21);
  }
  &__item{
    display: flex;
    flex-direction: column;
    height: auto;
    line-height: 38px;
  }
  &__label {
    display: block;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    padding: 10px;
    &:hover {
      background-color: #eee;
    }
  }
  &__input:checked ~ &__label {
    background-color: #eee;
  }
  &_open {
    .filter__select__dropdown {
      display: block;
    }
    .filter__select__value {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}


.filter__search_button {
  width: 40%;
  display: inline-table;
  vertical-align: bottom;
  cursor: pointer;
  height: 40px;
  line-height: 35px;
  border-radius: 5px;
  border:1px solid #edbd37;
  outline: none;
  background-color: #edbd37;
}

.filter__status__wrapper + .filter__search_button {
  margin-left: 10%;
}

@import "media_1024";
@import "media_768";
@import "media_500";
@import "media_423";
