@media (max-width: 1024px){
  .filter__seasons {
    &__wrapper {
      width: 400px;
    }
  }
  .filter__status {
    &__wrapper {
      width: 20%;
      margin-left: 19px;
    }
  }
  .filter__search_button {
    width: 20%;
  }
  .filter__status__wrapper + .filter__search_button {
    margin-left: 19px;
  }
}
