.filter {
  &__wrapper {
  }
  &__seasons {
    display: flex;
    &__button + &__button {
      margin-left: 10px;
    }
    &__label {
      cursor: pointer;
      padding: 10px;
      white-space: nowrap;
      display: inline-block;
      background: #FFFF;
      border-radius: 5px;
      font-size: 14px;
      user-select: none;
      opacity: 0.7;
    }
    &__input{
      display: none;
    }
  }
}

.filter__seasons__input:checked ~ .filter__seasons__label {
  opacity: 1;
}
