.header {
  &__wrapper{
    display: block;
    width: 100%;
  }
  &__lorem {
    width: 45%;
    display: inline-block;
    padding-right: 100px;
  }
  &__filter {
    display: inline-block;
    vertical-align: top;
    max-width: 430px;
  }
}

@import "media_1024";
@import "media_500";
