.header {
  &__wrapper{
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
  }
  &__lorem {
    width: 56%;
    padding-right: 100px;
  }
  &__filter {
    max-width: 430px;
  }
}

@import "media_1024";
@import "media_500";
